@charset "utf-8";
/* CSS Document */
/*Awesome fonts*/

*	 {margin:0px;padding:0px;text-decoration:none; outline:none;}

.error{ border:1px solid #F00 !important; background:#F9C0C0;}
.success-msg{background:#E9F7DD;border: 1px solid #ABD0A8;color: #589051; margin-bottom: 30px;max-width: 1129px;padding: 11px 16px; display:none;}
del{ text-decoration:line-through; color:#ccc}
input, textarea {font-family: Arial, Helvetica, sans-serif;font-size:18px;}

section{ padding:80px 0;}
.gray-bg{background-color: #FBFBFB;}
.border{border-bottom: 1px solid #E3E3E3;}
.tables .overlay, .our-clients .overlay {background: url("../images/white.png") repeat scroll 0 0;height: 100%;left: 0;position: absolute; top: 0;width: 100%;}
.no-padding-bottom{ padding-bottom:0}

#wrapper{ overflow-x:hidden;}

/* colors */
.red{ color:#0000cc;}
.purple{ color:#0000cc;}
.green{ color:#0000cc;}
.blue{ color:#0000cc;}
.yellow{ color:#0000cc;}
.pink{ color:#0000cc;}
.orange{ color:#0000cc;}

.back-to-top{ background:#cecece;border-radius: 6px; bottom: 20px; color: #FFFFFF; display: block; font-size: 40px;  height: 50px;line-height: 42px; position: fixed;right: 20px;text-align: center; width: 50px;z-index: 50; display:none;}
.back-to-top:hover, .back-to-top:focus{ color:#fff;}

.fixed-header .navbar-default{ position:fixed; left:0; top:0; width:100%; z-index:50;border-bottom: 1px solid #e3e3e3;}
.fixed-header .parallax-main-banner{ top: 65px;}

.jcarousel-skin-tango { padding-bottom:40px; }


/*parallax banner*/
.parallax-main-banner{ max-width:100%; background: url("../images/parallax-banner.jpg") no-repeat center center scroll; background-size:cover;padding: 19% 0 0;text-align: center;position:relative;}
.parallax-main-banner h1, .video #heading h1 {border: 0 none; color: #fff; display: inline-block;font-size: 44px;padding:0 20px;line-height: 80px;margin-bottom: 0;text-transform: uppercase;text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);}
.parallax-main-banner h2, .video #heading h2 { border: 0 none; font-size: 24px;color: #fff;display: inline-block;line-height: 70px;padding:0 20px;margin-top:0;text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);}
.video > #heading, .parallax-main-banner > #heading {padding-top: 6%;}
.tabs-btn{bottom: 0; color: #FFFFFF;  left: 0;  min-height: 139px; background:url("../images/white.png"); position: absolute;   text-align: center;  width: 100%;}
.tabs-btn ul li{ float: left; line-height: 180px; width: 25%;height: 139px; position:relative;}
.tabs-btn ul li a.active:after{position: absolute;bottom: -28px;left: 50%;margin-left: -17px;content: ' ';height: 0px;width: 0px;border: 14px solid transparent;}
.tabs-btn ul li a{ display:block;height: 139px; overflow:hidden;}
.tabs-btn ul li a i{color: #FFFFFF;font-size: 72px;-moz-transition: all 500ms ease;-webkit-transition: all 500ms ease;-ms-transition: all 500ms ease;-o-transition: all 500ms ease;transition: all 500ms ease;}
.tabs-btn ul li:hover{ line-height:20px;-moz-transition: all 500ms ease;-webkit-transition: all 500ms ease;-ms-transition: all 500ms ease;-o-transition: all 500ms ease;transition: all 500ms ease;}
.tabs-btn ul li:hover a i{-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-o-transform: rotate(360deg);-ms-transform: rotate(360deg);-webkit-transform: rotate(360deg); font-size:30px;-moz-transition: all 500ms ease;-ms-transition: all 500ms ease;-o-transition: all 500ms ease;transition: all 500ms ease; margin-bottom: 10px;margin-top: 20px;}
.tabs-btn ul li p{line-height: 17px; display:none; color:#fff;-moz-transition: all 500ms ease;-ms-transition: all 500ms ease;-webkit-transition: all 500ms ease;-o-transition: all 500ms ease;transition: all 500ms ease;}
.tabs-btn ul li p span{ display:block; font-size:15px; font-weight:bold; padding-bottom: 6px;font-family: 'BebasRegular'; font-weight:400;}
.tabs-btn ul li:hover p{ display:block; font-size:13px;}


/* Video banner */
.video{ position:relative; top:65px; max-height:650px; overflow:hidden; text-align:center;}
.video #heading{ position:absolute;z-index:2; padding-top:25%; left:0; width:100%;}
.video iframe{ border:0;}




/* .tabs-btn colors */
.tabs-btn.green ul li:nth-child(1){ background:#0000cc}
.tabs-btn.green ul li:nth-child(1) a.active:after{border-top-color:#0000cc;}
.tabs-btn.green ul li:nth-child(2){ background:#0000cc}
.tabs-btn.green ul li:nth-child(2) a.active:after{border-top-color:#0000cc;}
.tabs-btn.green ul li:nth-child(3){ background:#0000cc}
.tabs-btn.green ul li:nth-child(3) a.active:after{border-top-color:#0000cc;}
.tabs-btn.green ul li:nth-child(4){ background:#0000cc}
.tabs-btn.green ul li:nth-child(4) a.active:after{border-top-color:#0000cc;}
.tabs-btn.green ul li:nth-child(5){ background:#0000cc}
.tabs-btn.green ul li:nth-child(5) a.active:after{border-top-color:#0000cc;}


/*experience*/
.experience-content{ max-width:890px; margin:0 auto 50px;}
.experience p{ line-height:30px;}



/* services section */
.services-sec{ text-align:center; margin-top: 60px !important;}
.services-sec .container{ position:relative;}
.services-sec .tab1, .services-sec .tab2, .services-sec .tab3, .services-sec .tab4, .services-sec .tab5{ position:absolute; left:0; top:0; width:100%;}



.services-sec span.yellow i{ background:#0000cc; box-shadow:0 0 0px 2px #f6c815; -moz-box-shadow:0 0 0px 2px #f6c815; -webkit-box-shadow:0 0 0px 2px #f6c815;}
.services-sec span.green i{ background:#0000cc; box-shadow:0 0 0px 2px #BED431; -moz-box-shadow:0 0 0px 2px #BED431; -webkit-box-shadow:0 0 0px 2px #BED431;}
.services-sec span.red i{ background:#0000cc; box-shadow:0 0 0px 2px #e21e25; -moz-box-shadow:0 0 0px 2px #e21e25; -webkit-box-shadow:0 0 0px 2px #e21e25;}
.services-sec span.blue i{ background:#0000cc; box-shadow:0 0 0px 2px #60cae8; -moz-box-shadow:0 0 0px 2px #60cae8; -webkit-box-shadow:0 0 0px 2px #60cae8;}
.services-sec span.purple i{ background:#0000cc; box-shadow:0 0 0px 2px #7251A2; -moz-box-shadow:0 0 0px 2px #7251A2; -webkit-box-shadow:0 0 0px 2px #7251A2;}


.service-sec span{ border-left: none;display: block;color: #60cae8;min-height: 129px;}
.service-sec i{ width:0; height:0; display:inline-block; overflow:hidden; border:2px solid #fff; color:#fff;line-height: 97px; font-size:40px; margin:70px 0 0;-moz-transition: all 2000ms ease;-ms-transition: all 2000ms ease;-webkit-transition: all 2000ms ease;-o-transition: all 2000ms ease;transition: all 2000ms ease;}

.service-sec:hover i, .service-sec:hover i.open{margin:20px 0 10px;-moz-transition: all 500ms ease;-webkit-transition: all 500ms ease;-ms-transition: all 500ms ease;-o-transition: all 500ms ease;transition: all 500ms ease;}
.service-sec i.open{width:99px; height:99px;margin:30px 0 0;-moz-transition: all 1000ms ease;-webkit-transition: all 1000ms ease;-ms-transition: all 1000ms ease;-o-transition: all 1000ms ease;transition: all 1000ms ease;}
.service-sec h3{ background:url(../images/service-sec-shadow.png) no-repeat center 0; padding-top:30px; font-weight:400; border:0; text-transform:uppercase; margin: 10px 0 15px; color:#393939;font-family: 'Roboto',sans-serif;}
.service-sec p{ margin-bottom:0;line-height:24px;}
#tab2, #tab3, #tab4, #tab5 { display:none;}







/* piecharts */
.piecharts{ text-align:center; padding:65px 0; background:url(../images/skills-bg.jpg); position: relative; background-attachment:fixed; background-size:cover;}
.piecharts h2{ border:0;line-height: 40px;margin-bottom: 20px;}
.piecharts p{ margin:0}
.piecharts .overlay {background: url("../images/white.png") repeat scroll 0 0;height: 100%;left: 0;position: absolute; top: 0;width: 100%;}
.piecharts .container {position: relative;z-index: 5;}






/* services tri sec */
.tri-sec{ padding:0 0 30px 0}
.tri-sec i{ font-size:50px;}
.tri-sec p {padding: 0 20px;}
.tri-sec.last{ padding:0}
.tri-sec.last p{ margin:0}





/*CREATIVE TEAM section start here*/
.team{}
.team-image-sec{ position:relative;margin-bottom:25px; overflow:hidden; height:318px;}
.team-image-sec ul{ left: 0; margin: 0; z-index:6;  position: absolute;text-align: center;  top: -100%; width: 100%; margin-top:-21px;}
.team-image-sec ul li{ display: inline-block;margin-left: 2px;}
.team-image-sec ul li a{ display:block; width:42px; height:42px; background:#fff; border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%;}
.team-image-sec ul li a i{ font-size: 20px;line-height: 44px;}
.team-detail-sec h3{ line-height: 28px; margin:0; padding:0 0 10px 0; border:0}
.team-detail-sec h3 span{ color: #4C4C4C;font-family: 'Roboto',sans-serif;font-size: 16px;font-style: italic;font-weight: 300;padding-top: 4px;}
.team-detail-sec p{ margin-bottom:0}
.team-image-sec .img-overlay{ position:absolute; left:0; top:0; width:100%; height:100%; z-index:5; display:none;}
.team-image-sec ul li a:hover{ background:#333;}
.team-image-sec ul li a:hover i{ color:#fff}
.team-image-sec:hover .img-overlay{ display:block;}
.team-image-sec:hover ul, .team-image-sec ul{-moz-transition: all 500ms ease;-ms-transition: all 500ms ease;-webkit-transition: all 500ms ease;-o-transition: all 500ms ease;transition: all 500ms ease;}
.team-image-sec, .team-image-sec img{-moz-transition: all 500ms ease;-ms-transition: all 500ms ease;-webkit-transition: all 500ms ease;-o-transition: all 500ms ease;transition: all 500ms ease; width:100%}
.team-image-sec:hover img{max-width: 200%;width: 120%;margin-left: -30px;margin-top: -30px; -moz-transition: all 600ms ease;-webkit-transition: all 600ms ease;-ms-transition: all 600ms ease;-o-transition: all 600ms ease;transition: all 6s00ms ease;}
.team-image-sec:hover ul{ top:50%;}
.team.bg{ background:#f5f5f5; margin:0}
.team.bg h1{ background:none}
.team.bg .team-detail-sec{ padding-bottom:50px;}
.team .col-md-4:nth-child(1) .team-image-sec .img-overlay, .entry .overlay{ background:rgba(226, 30, 37, 0.83);}
.team .col-md-4:nth-child(2) .team-image-sec .img-overlay, .entry .overlay{ background:rgba(190, 212, 49, 0.89);}
.team .col-md-4:nth-child(3) .team-image-sec .img-overlay, .entry .overlay{ background:rgba(96, 202, 232, 0.83);}
.team .col-md-4:nth-child(1) .team-image-sec li a{ color:#e21e25;}
.team .col-md-4:nth-child(2) .team-image-sec li a{ color:#bed431;}
.team .col-md-4:nth-child(3) .team-image-sec li a{ color:#60cae8;}




/* parallax tables */
.tables{background:url(../images/table-bg.jpg); position: relative; background-attachment:fixed; background-size:cover; margin:20px 0 0; padding:80px 0 60px}
/* tables */
.table {border-bottom: 4px solid #E8E8E8;background:#FFFFFF;width: 100%;}
.table-heading { background: none repeat scroll 0 0 #F8F8F8; display: block; font-size: 24px;  font-weight: 700;  padding: 20px 39px; text-transform: uppercase;}
.table .price { font-size: 14px; padding: 20px 20px 20px 50px;  position: relative;margin:0;display: inline-block;}
.table .price span {font-weight: bold;}
.table .price span strong {font-size: 46px;}
.table .price .currency { font-size: 18px; left: 40px;position: absolute;top: 16px;}
.table ul { background: none repeat scroll 0 0 #F8F8F8; padding: 0 10px;margin-bottom: 0;}
.table ul li {border-top: 1px solid #E8E8E8;padding: 12px 29px;}
.table ul li:first-child { border-top: 0 !important;}
.table a.btn { display: block;margin: 17px auto;max-width: 160px;}



/* table colors */

/*yellow*/
.table.yellow-table{ border-bottom: 4px solid #f6c815; color:#fff}
.table.yellow-table .price{ color:#f6c815}
.table.yellow-table .table-heading, .table.yellow-table ul {background: #0000cc;}
.table.yellow-table ul li{ border-top:1px solid #d8ad07;}



/*Blue*/
.table.green-table{ border-bottom: 4px solid #bed431; color:#fff}
.table.green-table .price{ color:#bed431}
.table.green-table .table-heading, .table.green-table ul {background: #0000cc;}
.table.green-table ul li{ border-top:1px solid #9cb211;}


/*Blue*/
.table.blue-table{ border-bottom: 4px solid #09A0AD; color:#fff}
.table.blue-table .price{ color:#09A0AD}
.table.blue-table .table-heading, .table.blue-table ul {background: #0000cc;}
.table.blue-table ul li{ border-top:1px solid #08828c;}


/*red*/
.table.red-table{ border-bottom: 4px solid #e21e25; color:#fff}
.table.red-table .price{ color:#e21e25}
.table.red-table .table-heading, .table.red-table ul {background: #0000cc;}
.table.red-table ul li{ border-top:1px solid #c6131a;}







#filters {
	margin:10px 0 50px 0;
	text-align: center;
	display: block;
	float: none;
	z-index: 2;
	position: relative;
}
#filters ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
#filters ul li {
	display: inline-block;
}
#filters ul li a {
	display: block;
	float: left;
	padding: 2px 5px;
	color: inherit;
	font-weight: bold;
}
#filters ul li a h3 {
	font-size: 14px;
	text-transform:uppercase;
	padding:12px 21px;
	border: 1px solid transparent;
	margin:0;
	font-family: 'Roboto',sans-serif;
}
#filters ul li a:hover h3, #filters ul li a.active h3 {
	color: #7251a2;
	border: 1px solid;
}

#portfolio-items-wrap {
	position: relative;
	padding: 0;
	width: 100.1%;
	margin: 0 auto;
	display: block;
}
#portfolio-items-wrap .portfolio-item {
	margin: 0;
	overflow: hidden;
	line-height: 0;
	width: 25%;
	padding: 0;
}
.portfolio-item.current {
	box-shadow: 0 0px 0px 10px rgba(255, 255, 255, 0.37);
	z-index: 101;
}
.portfolio-item {
	padding: 0;
	position: relative;
	overflow: hidden;
}
.portfolio {
	overflow: hidden;
	display: block;
	position: relative;
}
.portfolio img {
	width: 100%;
	height: auto;
}
.portfolio .portfolio-overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	display: block;
	z-index: 4;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: #FFD600;
}
.portfolio > a, .portfolio > a:hover {
	color: #ffffff;
}
.portfolio-item .portfolio > a:hover > .portfolio-overlay {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}
.portfolio > a img {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio > a:hover img {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio .thumb-info {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio a:hover .portfolio-overlay .thumb-info {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}
.portfolio-overlay .thumb-info i {
	top: 58%;
	font-size: 50px;
}
.portfolio-overlay .thumb-info h3 {
	top: 38%;
	font-size: 30px;
}
.portfolio-overlay .thumb-info p {
	top: 50%;
	font-size: 13px;
}
.portfolio-overlay .thumb-info h3 {
	color: #ffffff;
	width: 100%;
	position: absolute;
	text-align: center;
}
.portfolio-overlay .thumb-info p {
	color: #ffffff;
	width: 100%;
	position: absolute;
	text-align: center;
	font-weight: bold;
}
.portfolio-overlay .thumb-info i {
	color: #ffffff;
	width: 100%;
	position: absolute;
	text-align: center;
	display: block;
}

.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}

.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
/* hover colors */
.img-overlay{ position:absolute; left:0; top:0; width:100%; height:100%; opacity:.8; display:none;}
.portfolio-item:hover .img-overlay{ display:block;}
.portfolio-item:nth-child(1) .img-overlay{background:#BED431}
.portfolio-item:nth-child(2) .img-overlay{background:#5ECAE6}
.portfolio-item:nth-child(3) .img-overlay{background:#E11E24}
.portfolio-item:nth-child(4) .img-overlay{background:#7251A2}
.portfolio-item:nth-child(5) .img-overlay{background:#7251A2}
.portfolio-item:nth-child(6) .img-overlay{background:#E11E24}
.portfolio-item:nth-child(7) .img-overlay{background:#5ECAE6}
.portfolio-item:nth-child(8) .img-overlay{background:#BED431}
.portfolio-item i{border: 3px solid #FFFFFF;border-radius: 6px; color: #FFFFFF; display: block; font-size: 22px;  height: 46px; left: 50%; line-height: 40px; margin-left:-50px; margin-top: -23px;position: absolute;text-align: center; top: -46px; width: 46px; z-index: 8;-moz-transition: all 500ms ease;-webkit-transition: all 500ms ease;-ms-transition: all 500ms ease;-o-transition: all 500ms ease;transition: all 500ms ease;}
.portfolio-item i.fa-link{ left: auto;margin-right: -50px;right: 50%;}
.portfolio-item:hover i{ top:50%;-moz-transition: all 500ms ease;-webkit-transition: all 500ms ease;-ms-transition: all 500ms ease;-o-transition: all 500ms ease;transition: all 500ms ease;}
.portfolio-item i:hover{ border-color:#dfdfdf; color:#dfdfdf;}


/* best sellers */
.products{}
.products .product{ float:left; margin:13px 2.6% 20px 0; position:relative;}
.products .product:nth-child(4n+4){ margin-right:0}
.product-thumb{ position:relative;-moz-transition: all 500ms ease;-webkit-transition: all 500ms ease;-ms-transition: all 500ms ease;-o-transition: all 500ms ease;transition: all 500ms ease; overflow:hidden;margin-bottom:20px;}
.product-thumb a{ display:block;}
.product-thumb a span.overlay{ position:absolute; left:0; top:0; width:100%; height:100%; opacity:.8; z-index:5; display:none;}
.product-thumb:hover a span.overlay{ display:block;}
.product-thumb img{ display:block;}
.product-thumb i{ border: 3px solid #FFFFFF;border-radius: 6px;color: #FFFFFF;font-size: 22px;height: 46px;left: 50%;line-height: 40px;margin-left: -23px;margin-top: -23px;position: absolute;text-align: center;top: -46px;width: 46px;z-index: 8; display:block; -moz-transition: all 500ms ease;-webkit-transition: all 500ms ease;-ms-transition: all 500ms ease;-o-transition: all 500ms ease;transition: all 500ms ease;}
.product-thumb:hover i{ top:50%;-moz-transition: all 500ms ease;-webkit-transition: all 500ms ease;-ms-transition: all 500ms ease;-o-transition: all 500ms ease;transition: all 500ms ease;}
.product .sale{ width:57px; height:57px; border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%; position:absolute; right:-7px; top:-20px; border:3px solid #fff; text-align:center; font-size:16px; color:#fff; font-weight:300;line-height: 48px; z-index:15}
.product-desc h4, .product-desc h4 a{ font-size:22px; color:#393939; padding:0; border:0; font-weight:400; margin-bottom:5px;}
.product-desc h4 .price, .product-desc h4 a .price{ float:right; font-size:23px; font-weight:700; padding:0}
.product-desc p{ font-weight:300; color:#4c4c4c;}

/* colors */
.product.green .sale{ background:#bed431;}
.product.green .price{ color:#bed431;}
.product.green .product-thumb a span.overlay{ background:#bed431;}

.product.blue .sale{ background:#5ecae6;}
.product.blue .price{ color:#5ecae6;}
.product.blue .product-thumb a span.overlay{ background:#5ecae6;}

.product.red .sale{ background:#e11e24;}
.product.red .price{ color:#e11e24;}
.product.red .product-thumb a span.overlay{ background:#e11e24;}

.product.purple .sale{ background:#7251a2;}
.product.purple .price{ color:#7251a2;}
.product.purple .product-thumb a span.overlay{ background:#7251a2;}

.product.yellow .sale{ background:#f6c715;}
.product.yellow .price{ color:#f6c715;}
.product.yellow .product-thumb a span.overlay{ background:#f6c715;}








/* our clients */
.our-clients{background: url("../images/clients-bg.jpg") repeat;background-attachment:fixed; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3;position:relative;}
.our-clients h1{ margin-bottom:50px; border:0; padding-left:0}
.testimonial{ border-radius: 2px; font-size: 20px; font-style: italic; margin:0 auto 0 auto;width: 100%;padding: 60px 88px;position: relative;}
.testimonial p{ line-height:28px; margin-bottom:0}
.testimonial .fa-quote-left, .testimonial .fa-quote-right{ font-size:41px; color:#ebebeb; position:absolute;}
.testimonial .fa-quote-left{ top:40px; left:28px;}
.testimonial .fa-quote-right{ bottom:40px; right:28px;}



/* contact us */

.contact-us{ }
.contact-us .form{min-height:380px;}
.contact-us input[type=text]{ margin-bottom:9px;}
.contact-us label{ float:left;}
.contact-us .btn{ margin-left:9.8%; border:0;}
.message label{ width:9.8%;}
.message textarea{ width:89.3%; margin-bottom:13px;}
.map{ margin:40px 0 0;}
.map iframe{ border:0; width:100%; height:470px;}
.map-title{ background:#fe4419; text-align:center;}
.map-title h4{ font-size:32px; color:#fff; margin:0;}
.map-title h4 span{ background: #FFFFFF;display: inline-block;font-size: 40px; height: 65px;line-height: 63px;padding: 0;width: 57px; margin:0 0 0 35px; cursor:pointer; opacity:.9;}
.map-title i{ background:#fff;}
.message input[type="submit"]:hover, .message input[type="submit"]:focus{ color:#000}




/*shop detail*/
.shop-detail h2{ margin:15px 0;}
.shop-detail .row{ margin:15px 0 0 -42px;}
.rating {direction: rtl;text-align: left;unicode-bidi: bidi-override;}
.rating > span {cursor: pointer;display: inline-block;font-size: 20px;margin-right: 3px;position: relative;width: 0.8em;}
.rating > span:before, .rating > span ~ span:before {color: #646464;content: "★";}
.rating > span:hover:before, .rating > span:hover ~ span:before {color: #5ECAE6;content: "★";}
.customer-reviews p { float: left;font-weight: 300; margin: 0;}
.customer-reviews .rating { float: right;}
.customer-reviews .rating > span:hover:before, .customer-reviews .rating > span:hover ~ span:before {color: #BED431;}
.price { color: #BED431; font-size: 23px;font-weight: 600;}
.price del {margin-right: 7px;}
.item-counter {background: #F7F7F7;border: 1px solid #F4F4F4;float: left;height: 47px;margin-right: 17px;width: 98px;}
.item-counter span {cursor: pointer; height: 47px; line-height: 37px;text-align: center;width: 27px;}
.item-counter input.items-total { background: #FFFFFF; border: 0 none; cursor: default;  display: inline-block; height: 45px;  line-height: 41px;margin: 0; padding: 0;text-align: center;width: 42px;}
.item-category {float: left; padding-left: 17px;padding-top: 10px;}
.product-detail-cat span {color: #BED431;}



/*cart*/
.cart-list {border: 1px solid #e7e7e7;height: auto; padding: 0;width: 100%;background:#fbfbfb;}
.cart-bar {color: #393939;line-height: 40px;text-align: center;width: 100%;border-bottom: 1px solid #E7E7E7;}
.cart-product-heading, .cart-product {border-right: 1px solid #E7E7E7;float: left;font-size: 18px;text-transform: uppercase;width: 61%;}
.cart-price-heading, .cart-quantity-heading, .cart-total-heading, .cart-price, .cart-quantity, .cart-total {float: left;text-transform:uppercase;font-size: 18px;width: 11.6279%;border-right: 1px solid #E7E7E7;}
.cart-bar-list {height: 128px;line-height: 128px;text-align: center;width: 100%;}
.cart-product {border-right: 1px solid #D8D8D8;height: 128px;line-height: 128px;padding-top: 10px;text-align: left;}
.cart-product img {display: block;margin: 0 10px;}
.cart-product h4 {color: #4C4C4C;font-size: 14px;padding-top: 42px;text-transform: none;}
.cart-price, .cart-quantity, .cart-total, .product-remove2 {border-right: 1px solid #D8D8D8;font-size: 24px;height: 128px;}
.cart-price .amount, .cart-total .amount {color: #4C4C4C;font-size: 14px;}
.cart-quantity .item-counter {display: inline-flex;float: none;margin: 0 auto;}
.product-remove2 span {cursor: pointer;color: #E21E25;}
.cart-buttons {border-top: 1px solid #D8D8D8;padding: 10px 0 0;}
.cart-shipping {padding: 15px;}
.cart-shipping h4 {font-size:24px; padding:0;}
.cart-shipping .selector {border: 1px solid #E7E7E7;height: auto;margin-bottom: 10px;padding: 7px 12px;background:#fff;width: 100% !important;}
.cart-shipping .selector select{height: 37px;}
.cart-shipping .selector span{color:#acacac; width:100% !important;}
.cart-shipping input[type="text"] {border: 1px solid #E4E4E4;margin-right: 0;padding: 10px 12px; width: 100%;font-size:13px;color:#656565;}
.cart-total-amount {padding: 0;}
.cart-total-amount label {font-size: 14px;font-weight: 400;padding: 13px 0; margin:0; width: auto;}
.order-total {border-bottom: 1px solid #F4F4F4;border-top: 1px solid #F4F4F4;}
.order-total label{font-weight:600;}
.order-total .price{color:#7251a2;}
.cart-total-amount .price {font-weight: bold;}
.cart-quantity .items-total, .cart-quantity #pluss-item, .cart-quantity #less-item{ font-size:14px; color:#4c4c4c;}
.cart-quantity #pluss-item, .cart-quantity #less-item{ line-height:46px; font-size:16px;}
.coupon-card input[type="text"]{ margin:0 5px 0 14px; border:1px solid #e7e7e7;padding: 13px 12px; float:left; font-size:13px; color:#a0a0a0; font-style:italic; width: 40%;}
.cart-shipping .btn-red{ width:100%; margin:15px 0 0;}
.checkout{margin: 20px 0 0 -60px !important;}

.cart-bar-list .item-counter{ margin-top:40px;}
.product-remove2{ border-right:0;}


.coupon-card input[type="submit"]{ border:0;border-bottom: 4px solid #08828C;}
.cart-shipping input[type="submit"]{ border:0;border-bottom: 4px solid #C6131A;}




/* footer */
footer{ padding:46px 0; text-align:center;}
.social{ text-align:center;}
.social li{ display:inline-block}
.social li a{ display:block; width:46px; height:46px; border:2px solid #e4e4e4; text-align:center; color:#646464; font-size:22px; border-radius:100%; line-height:40px;}
.social li:nth-child(1) a:hover{ color:#324987;border:2px solid #324987;}
.social li:nth-child(2) a:hover{ color:#20baf3;border:2px solid #20baf3;}
.social li:nth-child(3) a:hover{ color:#494949;border:2px solid #494949;}
.social li:nth-child(4) a:hover{ color:#ed0a7d;border:2px solid #ed0a7d;}
.social li:nth-child(5) a:hover{ color:#bd0b14;border:2px solid #bd0b14;}



.copyright{ font-size:13px; padding:15px 0 0; margin:0}

.fa-diamond
{ color:blue;
}


/*------------------------- browsers hack ------------------------*/

@media screen and (-webkit-min-device-pixel-ratio:0)
{ 
    .piecharts, .tables, .our-clients{ background-attachment:scroll}
}



/*------------------------- ANIMATION CSS ------------------------*/

.experience .row div.experience-content, .experience .row div.devices, .services-sec .tab1 .row .col-md-4, .tri-secs .col-md-6, .team .row .col-md-4, .tables .row .col-md-3, .products .product, #portfolio-items-wrap, .our-clients .flipInY, .contact-us .form, .social li{ opacity:0;}
.experience .row div.experience-content.animated, .experience .row div.devices.animated, .services-sec .row .col-md-4.animated, .tri-secs .col-md-6.animated, .team .row .col-md-4.animated, .tables .row .col-md-3.animated, .products .product.animated, #portfolio-items-wrap.animated, .our-clients .flipInY.animated, .contact-us .form.animated, .social li.animated{ opacity:1;}




/*------------------------- Color Shitcher ------------------------*/
.switcher{position:fixed; right:-3px; top:50%; z-index:55; text-align:center; margin-top:-25px;}
.switcher a{ display: block;font-size: 28px; height: 51px; line-height: 49px; width: 50px; color:#ccc; background:#222222; color:#fff;border-radius: 4px;}
.switcher a:hover{ color:#fff; background:#F6C815}
.switcher a.light{background:#F6C815;}
.switcher a.light:hover{background:#4f4f4f;}






.sub-page{ padding:100px 0;}



/*..... BLOG ......*/

.blog{
}
.blog .left-sec{
	margin: 20px 0 0 0;
}
.blog .right-sec{
	float:right;
	margin: 20px 0 0 0;
}
.blog h3{ margin: 0 0 10px 0}
.blog span.date{
	
}
.blog span.date i{
	margin:0 5px 0 0;
}
.blog a.comment{
	margin:0 0 0 20px;
	color: #4c4c4c;
}
.blog p.post-detail{
	margin:15px 0 0 0;
	font-size:16px;
}
.blog .blog-post{
	margin:28px 0;
}
.blog .headings{ margin:25px 0 0 0;}
.blog .headings h1{ margin:0px !important;}
.blog .headings h2{ margin:0px !important;}
.blog .headings h3{ margin:10px 0 0 0 !important;}
.blog .headings h4{ margin:10px 0 0 0 !important;}
.blog .headings h5{ margin:10px 0 0 0 !important;}
.blog .headings h6{ margin:10px 0 0 0 !important;}
.blog .tags{
	margin:30px 0 0 0;
}
.blog .tags span{
	margin: 10px 10px 0 0;
	float:left;
}
.blog .tags a{
	border:solid 1px #CCC;
	padding: 10px 22px;
	margin: 0 5px 5px 0;
	color:#666;
	float:left;
}
.blog .comments{
	
	margin:25px 0 0 0;
}
.blog .comments .comment-sec{
	background:#f6f6f6;
	padding:15px;
	margin:15px  0 0 0;
	float:left;
}
.blog .comments .comment-sec2{
	margin:15px  0 0 95px;
}
.blog .comments .author{
	border-radius:100%;
	border:solid 3px #fff;
	box-shadow:0 0 1px #999;
	float:left;
}
.blog .comments span.author-name{
	float:left;
	font-weight:600;
	font-size:22px;
	margin:0;
}
.blog .comments a.date{
	margin: 5px 0 0 16px;
	color: #f6c715;
	float: left;
}

.blog .comments .comment-detail{
	float:right;
	width:85%;
}
.blog .comments .comment-detail p{
	margin:5px 0 0 0;
}
.blog .leave-comment{
}
.blog .leave-comment .comment-form{
	margin:15px 0 0 0;
}
.blog .comment-form input[type=text]{
	width:100%;
	height: 48px;
margin: 0 0 10px 0;
padding: 0 7px;
color: #999999;
border:solid 1px #cccccc;
}
.blog .comment-form textarea{
	width:100%;
	height: 250px;
	margin: 0 0 10px 0;
	padding: 10px 7px;
	color: #999999;
	border:solid 1px #cccccc;
}
.blog .comment-form input[type=submit]{
	padding: 11px 38px;
	color: #fff;
	border: none;
}
.blog .search{ width:100%;}
.blog .search input{ 
	width:100%;
	height: 42px;
	margin: 16px 0 10px 0;
	padding: 0 7px;
	color: #999999;
	border:solid 1px #cccccc;
	font-style: italic;
}
.blog .search a.search-bar{
	position:absolute;
	margin: 15px 0 0 -38px;
	padding: 10px;
	color:#999999;
}
.blog .search a.search-bar:hover{
	color:#06ceed;
}
.blog .recent-post{
	margin:30px 0 0 0;
}
.blog .recent-post .post{
	margin:25px 0 0 0;
}
.blog .recent-post .post a{
	font-size:18px;
	display:block;
	color: #4c4c4c;
}
.blog .recent-post .post a:hover{
	color:#333333;
}
.blog .recent-post .post i{
	margin:0 5px 0 0;
}
.blog .recent-post .post span{
	margin: 2px 0 0 16px;
	float: left;
	color:#aaaaaa;
}
.blog .about-company{
	margin:30px 0 0 0;
}
.blog .about-company p{
	margin:15px 0 0 0;
}
.blog .tags-cloud{
	margin:30px 0 0 0;
}
.blog .tags-cloud .tags{
	margin:0 0 0 0;
}
.blog .tags-cloud .tags a{
	float:left;
	margin: 0 5px 5px 0;
}
.blog .archive{
	margin:30px 0 0 0;
}
.blog .archive a{
	font-size: 18px;
	display: block;
	margin: 15px 0 0 0;
}

.blog .archive a:nth-child(1n+1){ color:#bed431;}
.blog .archive a:nth-child(2n+2){ color:#5ecae6;}
.blog .archive a:nth-child(3n+3){ color:#f6c715;}
.blog .archive a:nth-child(4n+4){ color:#e21e25;}
.blog .archive a:nth-child(5n+5){ color:#7251a2;}



.blog .archive a:hover{
	color: #333;
}
.blog .archive i{
	margin: 0 5px 0 0;
}
.calendar ul {
    width:100%;
}
.calendar-header > li  {
    background-color:#0000cc;
    font-size: 3vw;
}



.calendar-dates > li {
    color:lightgrey !important;
    
    background-color: rgba(0,0,204, 0.05);
    font-size: 3vw;
    
}
@media only screen and (max-width: 767px) {
    .calendar-header > li  {
        font-size: 5vw;
    }
    .calendar-dates > li {
        font-size: 6vw;
        
    }
    .parallax-main-banner h1
    {   font-size: 5vw !important;
        
    }
    .parallax-main-banner h2
    {   margin-bottom:10px;
        
    }    
}

ul.calendar-dates li.av
{
    color:#0000cc !important;
    background-color: rgba(0,0,204, 0.30);
    
}
ul.calendar-dates li.av label
{
    font-weight: bold;
    
}
li.select-time
{   width: 30% !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

li.select-time input[type='radio']:checked ~ label {
   color: red;

}

.calendar li{
    width:16.5%;
    display: inline-block;
    color:white;
    text-align:center;
    padding-top:25px;
    padding-bottom:25px;

}


ul.calendar-dates li.na > label
{
    color:lightgrey;
    cursor:not-allowed !important;

}
li label
{   width:100%;
    cursor:pointer;
    
}

li input[type='radio']
{ display: none;
}
li input[type='radio']:checked ~ label {
   color: #0000cc;

}

.navbar-nav > li:nth-child(6) > a {
    font-weight:bolder;
    border-top: 4px solid #0000cc !important;
    color:#0000cc !important;
}

