{% extends 'index.html' %}
{% load humanize %}
{% load blocktags %}




{% block content %}
    <section class="services-sec gray-bg border" id="services">
        <div class='heading'><h2>Rise Blockchain Explorer</h2><h4>Account  {{acnt.address}} <i class="fa fa-address-card" style='color:blue' aria-hidden="true"></i></h4></div>
            <div class='col-md-12'>
                    <div class='heading well' style='text-align:center;'>
                        <h3><small>Balance</small><br />{{acnt.balance|coinify|intcomma}}<strong style='color:green'>R</strong> <i class="fa fa-money" style='color:green' aria-hidden="true"></i></h3>
                    </div>
                    <h4>Received Transactions</h4>
                    <form autocomplete='off'>
                        <input type='hidden' id='txr_orderBy' value='timestamp:desc'>
                        <input type='hidden' id='txr_lastpage' value='{{txr_lastpage}}'>
                    </form>                    
                    <table class="table table-striped" style="border:1px solid #0000cc;">
                        <thead>
                            <tr>
                                <th style='text-align:center;'><a href='#' class='reorder' data-addr='{{acnt.address}}' data-type='#txr' data-order='from' data-active='false' data-arrow='#ar1'>From <span class='arrow' id='ar1'></span></a> </th>
                                <th style='text-align:center; padding: 8px 0px 8px 0px'><a href='#' class='reorder' data-addr='{{acnt.address}}' data-type='#txr' data-order='type' data-active='false' data-arrow='#ar2'>
                                    <i class="fa fa-money" style='color:green' aria-hidden="true"></i> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>  <span class='arrow' id='ar2'></span></a>
                                </th>
                                <th style='text-align:center;'>To</th>
                                <th style='text-align:center;'><a href='#' class='reorder' data-type='#txr' data-addr='{{acnt.address}}' data-order='time' data-active='desc' data-arrow='#ar4'>Timestamp  <span class='arrow' id='ar4'></span></th>
                                <th style='text-align:center;'><a href='#' class='reorder' data-type='#txr' data-addr='{{acnt.address}}' data-order='amount' data-active='false' data-arrow='#ar5'>Amount(Fee)  <span class='arrow' id='ar5'></span></th>
                            </tr>
                        </thead>
                        <tbody id='txr_tdbody'>
                            {% for t in rtransactions %}
                            <tr>
                                <td>{% if t.senderId == acnt.address %}This Account{% else %}{{t.senderId|linkAcnt|safe }}{% endif %}</td>
                                <td style='padding: 8px 0px 8px 0px'><a href='/tx/{{t.id}}/' style='display:inline; padding:6px 15px;' class='btn' title='Tx ID: {{t.id}}'>
                                    {% if t.type == 3 %}<i class="fa fa-thumbs-up" aria-hidden="true"></i> 
                                    {% else %}<i class="fa fa-money" style='color:green' aria-hidden="true"></i> {% endif %}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                    </td>
                                <td>{% if t.recipientId == acnt.address %}This Account{% else %}{% if t.type == 3 %}Delegate Vote{%  else %}{{t.recipientId|linkAcnt|safe}}{% endif %}{% endif %}</td>
                                <td>{{t.timestamp|strftime}} UTC</td>
                                <td>{% if t.amount == 0 %}<strong>Vote</strong> {% else %} {{t.amount|coinify|intcomma}}<strong>R</strong>{% endif %} ({{t.fee|coinify|intcomma}})</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                            <tr><td colspan='100%'>
                                    <h3 style='display:inline'>
                                        <a href='#' class='prev_page' data-addr='{{acnt.address}}' data-type='#txr'><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a> Page
                                    </h3>
                                    <input type='text' value='1' id='txr_page' class='set_page' data-type='#txr' data-addr='{{acnt.address}}' name='tx_page' style='width:6em; text-align:right;'> / {{txr_lastpage}}
                                    <h3 style='display:inline'><a href='#' class='next_page' data-addr='{{acnt.address}}' data-type='#txr'><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></h3>
                                </td>
                            </tr>                
                    </table>            
                    <h4>Sent Transactions</h4>
                    <form autocomplete='off'>
                        <input type='hidden' id='txs_orderBy' value='timestamp:desc'>
                        <input type='hidden' id='txs_lastpage' value='{{txs_lastpage}}'>
                    </form>                    
                    <table class="table table-striped" style="border:1px solid #0000cc;">
                        <thead>
                            <tr>
                                <th style='text-align:center;'>From</th>
                                <th style='text-align:center; padding: 8px 0px 8px 0px'><a href='#' class='reorder' data-addr='{{acnt.address}}' data-type='#txr' data-order='type' data-active='false' data-arrow='#ar7'>
                                    <i class="fa fa-money" style='color:green' aria-hidden="true"></i> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>  <span class='arrow' id='ar7'></span></a>
                                </th>
                                <th style='text-align:center;'><a href='#' class='reorder' data-type='#txs' data-addr='{{acnt.address}}' data-order='to' data-active='false' data-arrow='#ar8'>To <span class='arrow' id='ar8'></span></a></th>
                                <th style='text-align:center;'><a href='#' class='reorder' data-type='#txs' data-addr='{{acnt.address}}' data-order='time' data-active='desc' data-arrow='#ar9'>Timestamp  <span class='arrow' id='ar9'></span></th>
                                <th style='text-align:center;'><a href='#' class='reorder' data-type='#txs' data-addr='{{acnt.address}}' data-order='amount' data-active='false' data-arrow='#ar10'>Amount(Fee)  <span class='arrow' id='ar10'></span></th>
                            </tr>
                        </thead>
                        <tbody id='txs_tdbody'>
                            {% for t in stransactions %}
                            <tr>
                                <td>{% if t.senderId == acnt.address %}This Account{% else %}{{t.senderId|linkAcnt|safe }}{% endif %}</td>
                                <td style='padding: 8px 0px 8px 0px'><a href='/tx/{{t.id}}/' style='display:inline; padding:6px 15px;' class='btn' title='Tx ID: {{t.id}}'>
                                    {% if t.type == 3 %}<i class="fa fa-thumbs-up" aria-hidden="true"></i> 
                                    {% else %}<i class="fa fa-money" style='color:green' aria-hidden="true"></i> {% endif %}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                    </td>
                                <td>{% if t.recipientId == acnt.address %}This Account{% else %}{% if t.type == 3 %}Delegate Vote{%  else %}{{t.recipientId|linkAcnt|safe}}{% endif %}{% endif %}</td>
                                <td>{{t.timestamp|strftime}} UTC</td>
                                <td>{% if t.amount == 0 %}<strong>Vote</strong> {% else %} {{t.amount|coinify|intcomma}}<strong>R</strong>{% endif %} ({{t.fee|coinify|intcomma}})</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                            <tr><td colspan='100%'>
                                    <h3 style='display:inline'>
                                        <a href='#' class='prev_page' data-addr='{{acnt.address}}' data-type='#txs'><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a> Page
                                    </h3>
                                    <input type='text' value='1' id='txs_page' class='set_page' data-addr='{{acnt.address}}' data-type='#txs' name='tx_page' style='width:6em; text-align:right;'> / {{txs_lastpage}}
                                    <h3 style='display:inline'><a href='#' class='next_page' data-addr='{{acnt.address}}' data-type='#txs'><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></h3>
                                </td>
                            </tr>                
                    </table>            

             </div>
        </div>
    </section>
{% endblock %}