{% load blocktags %}
{% load humanize %}
{% for b in blocks %}
<tr style='text-align:center'>
    <td style='text-align:left !important;'><i class="fa fa-cube" aria-hidden="true"></i> {{b.id}}</td>
    <td>{{b.height}}</td>
    <td>{{b.generatorId|linkAcnt|safe}}</td>
    <td>{{b.reward|coinify|intcomma}}<strong>R</strong></td>
    <td>{{b.timestamp|strftime}} UTC</td>
    <td>{{b.numberOfTransactions}}</td>
    <td>{{b.totalAmount|coinify|intcomma}}<strong>R</strong>
</tr>
{% endfor %}
