{% load blocktags %}
{% load humanize %}
{% for d in delegates %}
<tr>
    <td>{{d.rank}}</td>
    <td style='text-align:left'>{% if d.rank <= 101 %}<i class="fa fa-diamond" aria-hidden="true"></i> {% endif %}<a href='/acnt/{{d.address}}/'>{% if d.username %}{{d.username}}{% else %}{{d.address}}{% endif %}</a></td>
    <td>{{d.vote|coinify|intcomma}}</td>
    <td>{{d.productivity}}</td>
    <td>{{d.producedblocks}}</td>
    <td>{{d.approval}}</td>
</tr>
{% endfor %}
