{% load humanize %}
{% load blocktags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% block scale %}
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
    {% endblock %}
    <title>Vancouver Moving Company | Nash Moving Ltd.</title>

    <!-- theme -->
    <link href="/static/css/rockox.css" rel="stylesheet">
    <link href="/static/css/rockox-main.css" rel="stylesheet">
    
	<!-- animation -->
    <link href="/static/css/animate.css" rel="stylesheet">
    
    <!-- piecharts -->
    <link rel="stylesheet" href="/static/css/pie-charts-style.css">
	
    <!-- Add fancyBox -->
	<link rel="stylesheet" href="/static/css/jquery.fancybox.css?v=2.1.5" media="screen">

	<!-- jcarousel styling -->
	<link rel="stylesheet" href="/static/css/skin.css">
    
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    {% block link %}
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond./static/nashv3/js/1.4.2/respond.min.js"></script>
    <![endif]--> 
	    <link rel="icon" type="image/png" href="/static/img/favicon.png">
	    <link rel="apple-touch-icon" type="image/png" href="">
	    <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="">
	    <link rel="apple-touch-icon" type="image/png" sizes="114x114" href="">    
  </head>
  <body class="fixed-header" data-spy="scroll" data-target=".navbar">
  	
   
    <div id="wrapper">
    <!-- BEGIN HEADER -->
    <header id="home">
	    <nav class="navbar navbar-default" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- BEGIN LOGO -->
              <a class="navbar-brand" href="#home"><img src="/static/nashv3/images/logo.png" alt=""></a>
              <!-- END LOGO -->
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            	<!-- BEGIN NAVIGATION -->
                  <ul class="nav navbar-nav">{% block nav %}
                    <li class="active"><a href="/">EXPLORE</a></li>


                  {% endblock %}</ul>
                          <div class="col-sm-8 col-md-8">
        <form class="navbar-form" role="Search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Find TX, block, or address" name="srch-term" id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
        </div>
            	<!-- END NAVIGATION -->
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
    </nav>
    

    </header>
    <!-- END HEADER -->
    {% block content %}
    <!-- BEGIN BANNER -->
    
    <!-- BEGIN SERVICES SECTION -->
    <section class="services-sec gray-bg border" id="services">
    <div class='heading'><h2>Rise Blockchain Explorer</h2></div>
        <div class='col-md-7'>
            <div class='heading'><h3>Transactions(TX)</h3></div>
            <form autocomplete='off'>
                <input type='hidden' id='tx_orderBy' value='timestamp:desc'>
                <input type='hidden' id='tx_lastpage' value='{{last_txpage}}'>
            </form>
            <div class='table-responsive'>
            <table class="table table-striped" style="border:1px solid #0000cc;">
                <thead>
                    <tr>
                        <th style='text-align:center;'><a href='#' class='reorder' data-type='#tx' data-order='from' data-active='false' data-arrow='#ar1'>From <span class='arrow' id='ar1'></span></a> </th>
                        <th style='text-align:center; padding: 8px 0px 8px 0px'><a href='#' class='reorder' data-type='#tx' data-order='type' data-active='false' data-arrow='#ar2'>
                            <i class="fa fa-money" style='color:green' aria-hidden="true"></i> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>  <span class='arrow' id='ar2'></span></a>
                        </th>
                        <th style='text-align:center;'><a href='#' class='reorder' data-type='#tx' data-order='to' data-active='false' data-arrow='#ar3'>To <span class='arrow' id='ar3'></span></a></th>
                        <th style='text-align:center;'><a href='#' class='reorder' data-type='#tx' data-order='time' data-active='desc' data-arrow='#ar4'>Timestamp  <span class='arrow' id='ar4'></span></th>
                        <th style='text-align:center;'><a href='#' class='reorder' data-type='#tx' data-order='amount' data-active='false' data-arrow='#ar5'>Amount(Fee)  <span class='arrow' id='ar5'></span></th>
                    </tr>
                </thead>
                <tbody id='tx_tdbody'>
                    {% include 'transaction_row.html' %}

                </tbody>
                    <tr><td colspan='100%'>
                            <h3 style='display:inline'>
                                <a href='#' class='prev_page' data-type='#tx'><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a> Page
                            </h3>
                            <input type='text' value='1' id='tx_page' class='set_page' data-type='#tx' name='tx_page' style='width:6em; text-align:right;'> / {{last_txpage}}
                            <h3 style='display:inline'><a href='#' class='next_page' data-type='#tx'><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></h3>
                        </td>
                    </tr>                
            </table>
            </div>
        </div>
        <div class='col-md-5'>
            <div class='heading'><h3>Delegates</h3></div>
            <form autocomplete='off'>
                <input type='hidden' id='dg_orderBy' value='rank:asc'>
                <input type='hidden' id='dg_lastpage' value='{{last_dgpage}}'>
            </form>
            <div class='table-responsive'>
            <table class="table table-striped" style="border:1px solid #0000cc;">
                <thead>
                    <tr>
                        <th style='text-align:center;'><a href='#' class='reorder' data-type='#dg' data-order='rank' data-active='false' data-arrow='#dr1'>Rank <span class='arrow' id='dr1'></span></a></th>
                        <th style='text-align:left;'>Name/Address</th>
                        <th style='text-align:center;'><a href='#' class='reorder' data-type='#dg' data-order='vote' data-active='false' data-arrow='#dr2'>Vote <span class='arrow' id='dr2'></span></a></th>
                        <th style='text-align:center;'><a href='#' class='reorder' data-type='#dg' data-order='product' data-active='false' data-arrow='#dr3'>Active % <span class='arrow' id='dr3'></span></a></th>
                        <th style='text-align:center;'>Forged Blocks</th>
                        <th style='text-align:center;'><a href='#' class='reorder' data-type='#dg' data-order='approval' data-active='false' data-arrow='#dr5'>Approval <span class='arrow' id='dr5'></span></a></th>
                    </tr>
                </thead>
                <tbody id='dg_tdbody'>
                    {% include 'delegates_row.html' %}
                    
                </tbody>
                    <tr><td colspan='100%'>
                            <h3 style='display:inline'>
                                <a href='#' class='prev_page' data-type='#dg'><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a> Page
                            </h3>
                            <input type='text' value='1' id='dg_page' class='set_page' data-type='#dg' name='tx_page' style='width:6em; text-align:right;'> / {{last_dgpage}}
                            <h3 style='display:inline'><a href='#' class='next_page' data-type='#dg'><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></h3>
                        </td>
                    </tr>                 
            </table>
            </div>
        </div>
        
    </section>
	<section class="no-padding-bottom experience" id="experience">
    	<div class="container">
        	<!-- BEGIN HEADING -->
                    <div class='row'>
                        <div class='col-md-12'>
                            <div class='heading'><h3  style='text-align:center'>Blocks</h3></div>
                            <form autocomplete='off'>
                                <input type='hidden' id='bk_orderBy' value='height:desc'>
                                <input type='hidden' id='bk_lastpage' value='{{last_bkpage}}'>
                            </form>
                            <div class='table-responsive'>
                            <table class="table table-striped" style="border:1px solid #0000cc;">
                                <thead>
                                    <tr>
                                        <th style='text-align:left'>
                                            <a href='#' class='reorder' data-type='#bk' data-order='id' data-active='false' data-arrow='#br1'>
                                                Block ID <span class='arrow' id='br1'></span>
                                            </a>
                                        </th>
                                        <th style='text-align:left;'>
                                            <a href='#' class='reorder' data-type='#bk' data-order='height' data-active='false' data-arrow='#br2'>
                                                Height <span class='arrow' id='br2'></span>
                                            </a>
                                        </th>
                                        <th style='text-align:center;'>
                                            <a href='#' class='reorder' data-type='#bk' data-order='generator' data-active='false' data-arrow='#br3'>
                                                Forger <span class='arrow' id='br3'></span>
                                            </a></th>
                                        <th style='text-align:center;'>
                                            <a href='#' class='reorder' data-type='#bk' data-order='reward' data-active='false' data-arrow='#br4'>
                                                <strong>R</strong>eward <span class='arrow' id='br4'></span>
                                            </a>
                                        </th>
                                        <th style='text-align:center;'>
                                            <a href='#' class='reorder' data-type='#bk' data-order='time' data-active='false' data-arrow='#br5'>
                                                Timestamp <span class='arrow' id='br5'></span>
                                            </a>
                                        </th>
                                        <th style='text-align:center;'>
                                            <a href='#' class='reorder' data-type='#bk' data-order='transactions' data-active='false' data-arrow='#br6'>
                                            Number of Transactions <span class='arrow' id='br6'></span>
                                            </a>
                                        </th>
                                        <th style='text-align:center;'>
                                            <a href='#' class='reorder' data-type='#bk' data-order='volume' data-active='false' data-arrow='#br7'>
                                            <strong>R</strong>ise Volume <span class='arrow' id='br7'></span>
                                            </a>
                                        </th>                                        
                                    </tr>
                                </thead>
                                <tbody id='bk_tdbody'>
                                    {% include 'block_row.html' %}
                                    
                                </tbody>
                                    <tr><td colspan='100%' style='text-align:center'>
                                            <h3 style='display:inline'>
                                                <a href='#' class='prev_page' data-type='#bk'><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a> Page
                                            </h3>
                                            <input type='text' value='1' id='bk_page' class='set_page' data-type='#bk' name='bk_page' style='width:6em; text-align:right;'> / {{last_bkpage}}
                                            <h3 style='display:inline'><a href='#' class='next_page' data-type='#bk'><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></h3>
                                        </td>
                                    </tr>                                 
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    
    {% endblock %}
    <!-- BEGIN FOOTER -->
    <footer>
    	<div class="container">
        	<!-- BEGIN SOCIAL -->
        	<ul class="social">
            	<li class="bounceIn" data-delay="0"><a href="https://www.facebook.com/NashMoving/"><i class="fa fa-facebook"></i></a></li>
            	<li class="bounceIn" data-delay="200"><a href="https://www.google.ca/search?q=Nash+Moving+Ltd."><i class="fa fa-google-plus"></i></a></li>
            </ul>
            <!-- BEGIN SOCIAL -->
            <!-- BEGIN COPYRIGHT -->
            <p class="copyright">Copyrights 2017, Nash Moving Ltd. All rights reserved. by themes industry.</p>
            <!-- END COPYRIGHT -->
        </div>
    </footer>        
    <!-- END FOOTER -->
    
    <!-- BEGIN GO TO TOP --><a href="#." class="back-to-top" id="back-to-top"><i class="fa fa-angle-up"></i></a><!-- END GO TO TOP -->
    
    </div><!-- end #wrapper -->
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- parallax -->
    <script src="/static/js/jquery.stellar.js"></script>
    <script src="/static/js/custom.js"></script>
    <!-- jcarousel -->
    <script src="/static/js/jquery.jcarousel.min.js"></script>
    <!-- way point -->
    <script src="/static/js/waypoints.js"></script>
    <!-- Add piecharts -->
	<script src="/static/js/jquery.easypiechart.min.js"></script>
    <!-- navigation classes change on scroll -->
	<script src="/static/js/nimble.js"></script>
    <script src="/static/js/scrollspy.js"></script>
    <!-- fancybox -->
    <script src="/static/js/jquery.fancybox.pack.js?v=2.1.5"></script>
    <!-- appear -->
    <script src="/static/js/jquery.appear.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- nimble effect -->
        <script src="/static/js/counters.js"></script>
    {% block script %}
    {% endblock %}
    <script>
		//slider
		jQuery(function() {

			//parallaax
			jQuery.stellar({
				horizontalScrolling: false,
				
                responsive : true,
            
			});
			//fancybox
			jQuery(".fancybox").fancybox();
			jQuery(".various").fancybox({
				maxWidth	: 1100,
				maxHeight	: 600,
				fitToView	: false,
				width		: '70%',
				height		: '70%',
				autoSize	: false,
				closeClick	: false,
				openEffect	: 'none',
				closeEffect	: 'none',

			});
			
			jQuery('#mycarousel').jcarousel({
				vertical: true
			});
			
			//smooth scroll to href value

			 jQuery(".map-title h4 span").click(function(e) {
              	jQuery(".map iframe").slideToggle();  
				jQuery(".map-title h4 span i").toggleClass("fa-angle-up fa-angle-down");
             });
			 
			jQuery(window).scroll(function(){
				if(jQuery(window).scrollTop() > 200){
					jQuery("#back-to-top").fadeIn(200);
				} else{
					jQuery("#back-to-top").fadeOut(200);
				}
			});
			
			jQuery('#back-to-top, .back-to-top').click(function() {
				  jQuery('html, body').animate({ scrollTop:0 }, '800');
				  return false;
			});
			 
			 
			//pie charts	
			jQuery('#pie-charts').waypoint(function(direction) {			
				jQuery('.chart').easyPieChart({
					 barColor: "#5ecae6",
					onStep: function(from, to, percent) {
						jQuery(this.el).find('.percent').text(Math.round(percent));
					}
				});
				}, {
				offset: function() {
					return jQuery.waypoints('viewportHeight') - jQuery(this).height() + 100;
				}
			});
			
			jQuery('#pie-charts').waypoint(function(direction) {			
				jQuery('.green-circle').easyPieChart({
					 barColor: "#bed431",
					onStep: function(from, to, percent) {
						jQuery(this.el).find('.percent').text(Math.round(percent));
					}
				});
				}, {
				offset: function() {
					return jQuery.waypoints('viewportHeight') - jQuery(this).height() + 100;
				}
				
			});
			
			jQuery('#pie-charts').waypoint(function(direction) {			
				jQuery('.red-circle').easyPieChart({
					 barColor: "#e11e24",
					onStep: function(from, to, percent) {
						jQuery(this.el).find('.percent').text(Math.round(percent));
					}
				});
				}, {
				offset: function() {
					return jQuery.waypoints('viewportHeight') - jQuery(this).height() + 100;
				}
				
			});
			
			jQuery('#pie-charts').waypoint(function(direction) {			
				jQuery('.yellow-circle').easyPieChart({
					 barColor: "#f6c715",
					onStep: function(from, to, percent) {
						jQuery(this.el).find('.percent').text(Math.round(percent));
					}
				});
				}, {
				offset: function() {
					return jQuery.waypoints('viewportHeight') - jQuery(this).height() + 100;
				}
				
			});
			
			jQuery('#pie-charts').waypoint(function(direction) {			
				jQuery('.purple-circle').easyPieChart({
					 barColor: "#7251a2",
					onStep: function(from, to, percent) {
						jQuery(this.el).find('.percent').text(Math.round(percent));
					}
				});
				}, {
				offset: function() {
					return jQuery.waypoints('viewportHeight') - jQuery(this).height() + 100;
				}
				
			});
			
			});
			//form submit
			function checkmail(input)
			 {
				var pattern1=/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
				if(pattern1.test(input)){ return true; }else{ return false; }
			 }     
			  function proceed(){
				 var name = document.getElementById("name");
				 var email = document.getElementById("email");
				 var company = document.getElementById("company");
				 var web = document.getElementById("website");
				 var msg = document.getElementById("message");
				 var errors = "";
				 
				 if(name.value == "")
				  { 
				  name.className = 'error';
					return false;
				  }
					
				  else if(email.value == "")
				  {
					email.className = 'error';
					return false;
				  }
				  else if(checkmail(email.value)==false)
				  {
					alert('Please provide a valid email address.');
					return false;
			
				  }
				  else if(company.value == "")
				  {
					company.className = 'error';
					return false;
				  }
					else if(web.value == "")
				  {
					web.className = 'error';
					return false;
				  }
				  else if(msg.value == "")
				  {
					msg.className = 'error';
					return false;
				  }
				  else 
					{
							$.ajax({
								type: "POST",
								url: "process.php",
								data: $("#contact_form").serialize(),
								success: function(msg)
								{
									//alert(msg);
									if(msg){
									$('#contact_form').fadeOut(1000);
									$('#contact_message').fadeIn(2000);
									document.getElementById("contact_message").innerHTML = "Your email has been sent.";
									return true;
									}
								}
							});
					} 
			  }
		jQuery(function($) {
	
			$('#counters').waypoint(function(direction) {
				$('.timer1').countTo({
					from: 0,
					to: 1111,
					speed: 1000,
					refreshInterval: 50,
					onComplete: function(value) {
						console.debug(this);
					}
				});
				$('.timer2').countTo({
					visible: true,
					from: 0,
					to: 22222,
					speed: 1000,
					refreshInterval: 50,
					onComplete: function(value) {
						console.debug(this);
					}
				});
				$('.timer3').countTo({
					from: 0,
					to: 33333,
					speed: 1000,
					refreshInterval: 50,
					onComplete: function(value) {
						console.debug(this);
					}
				});

				
				
				}, {
				offset: function() {
					return $.waypoints('viewportHeight') - $(this).height() + 100;
				}
			});
		
		
    });
		
	</script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </body>
</html>