{% extends 'index.html' %}
{% load blocktags %}
{% load humanize %}

{% block content %}
    <section class="services-sec gray-bg border" id="services">
        <div class='heading'><h2>Rise Blockchain Explorer</h2><h4>Tx: {{t.id}} <i class="fa fa-address-card" style='color:blue' aria-hidden="true"></i></h4></div>
                    <div class='heading well' style='text-align:center;'>
                        {% if t.type == 3 %}
                        <div class='row'>
                            <div class='col-xs-2 col-xs-offset-5'>
                                Added Vote:<br />
                                <h3>{{added.address|linkAcnt|safe}}</h3>
                            </div>
                        </div>
                        {% else %}
                        <h3><small>Amount</small><br />{{t.amount|coinify|intcomma}}<strong style='color:green'>R</strong> <i class="fa fa-money" style='color:green' aria-hidden="true"></i></h3>
                        {% endif %}
                    </div>


                    <div class='row'  style='font-size:25px;'>
                        <div class='col-md-5 col-xs-5' style='text-align:right'>
                           {{t.senderId|linkAcnt|safe}}
                        </div>
                        <div class='col-md-2  col-xs-2'>
                           <i class="fa fa-money" style='color:green' aria-hidden="true"></i> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </div>
                        <div class='col-md-5  col-xs-5' style='text-align:left'>
                            {{t.recipientId|linkAcnt|safe}}
                        </div>
                    </div>

                    <div class='row well'>
                        <div class='col-md-6  col-xs-6 col-xs-offset-3' style='text-align:right'>
                            <table class='table'>
                                <tr>
                                    <th class='bg-primary' >Confirmations</th>
                                    <td>{{t.confirmations}}</td>
                                </tr>
                                <tr>
                                    <th class='bg-primary' >BlockID</th>
                                    <td>{{t.blockId}}</td>
                                </tr>
                                <tr>
                                    <th class='bg-primary' >Type</th>
                                    <td>
                                        {% if t.type == 0 %}
                                            Sent Transaction
                                        {% elif t.type == 1 %}
                                            Signature
                                        {% elif t.type == 2 %}
                                            Delegate
                                        {% elif t.type == 3 %}
                                            Vote
                                        {% elif t.type == 4 %}
                                            Multisignature
                                        {% elif t.type == 5 %}
                                            Decentralized Application
                                        {% elif t.type == 6 %}
                                            In Transfer
                                        {% else %}
                                            Out Transfer
                                        {% endif %}
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <th class='bg-primary' >Timestamp(UTC)</th>
                                    <td>{{t.timestamp|strftime}}</td>
                                </tr>
                                <tr>
                                    <th class='bg-primary' >Height</th>
                                    <td>{{t.height}}</td>
                                </tr>

                                
                            </table>
                        </div>
                    </div>

                
        </div>
</section>
{% endblock %}