{% load blocktags %}
{% load humanize %}
{% for t in transactions %}
<tr>
    <td>{% if sid == t.senderId %}This Account {% else %}{{t.senderId|linkAcnt|safe }}{% endif %}</td>
    <td style='padding: 8px 0px 8px 0px'><a href='/tx/{{t.id}}/' style='display:inline; padding:6px 15px;' class='btn' title='Tx ID: {{t.id}}'>
        {% if t.type == 0 %}
            <i class="fa fa-money" style='color:green' aria-hidden="true"></i>
        {% elif t.type == 1 %}
            <i class="fa fa-pencil" aria-hidden="true"></i>
        {% elif t.type == 2 %}
            <i class="fa fa-diamond" aria-hidden="true"></i>
        {% elif t.type == 3 %}
            <i class="fa fa-thumbs-up" aria-hidden="true"></i> 
        {% elif t.type == 4 %}
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
        {% elif t.type == 5 %}
            <i class="fa fa-rocket" aria-hidden="true"></i>
        {% elif t.type == 6 %}
            <i class="fa fa-money" aria-hidden="true"></i>
        {% else %}
            <i class="fa fa-sign-out" aria-hidden="true"></i>

        {% endif %}
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </td>
    <td>{% if rid == t.recipientId %}This Account {% else %}{% if t.type == 3 %}Delegate Vote{%  else %}{{t.recipientId|linkAcnt|safe}}{% endif %}{% endif %}</td>
    <td>{{t.timestamp|strftime}} UTC</td>
    <td>
        {% if t.type == 0 %}
            {{t.amount|coinify|intcomma}}<strong>R</strong>
        {% elif t.type == 1 %}
            Signature
        {% elif t.type == 2 %}
            Delegate
        {% elif t.type == 3 %}
            <strong>Vote</strong>
        {% elif t.type == 4 %}
            Multisig
        {% elif t.type == 5 %}
            dApp
        {% elif t.type == 6 %}
            {{t.amount|coinify|intcomma}}<strong>R</strong>
        {% else %}
            {{t.amount|coinify|intcomma}}<strong>R</strong>
        {% endif %}    
        ({{t.fee|coinify|intcomma}})</td>
</tr>
{% endfor %}
