<table class="table table-striped" style="border:1px solid #0000cc;">
    <thead>
        <tr>
            <th style='text-align:center;'><a href='#' class='reorder' data-type='#tx' data-order='from' data-active='false' data-arrow='#ar1'>From <span class='arrow' id='ar1'></span></a> </th>
            <th style='text-align:center; padding: 8px 0px 8px 0px'><a href='#' class='reorder' data-type='#tx' data-order='type' data-active='false' data-arrow='#ar2'>
                <i class="fa fa-money" style='color:green' aria-hidden="true"></i> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>  <span class='arrow' id='ar2'></span></a>
            </th>
            <th style='text-align:center;'><a href='#' class='reorder' data-type='#tx' data-order='to' data-active='false' data-arrow='#ar3'>To <span class='arrow' id='ar3'></span></a></th>
            <th style='text-align:center;'><a href='#' class='reorder' data-type='#tx' data-order='time' data-active='desc' data-arrow='#ar4'>Timestamp  <span class='arrow' id='ar4'></span></th>
            <th style='text-align:center;'><a href='#' class='reorder' data-type='#tx' data-order='amount' data-active='false' data-arrow='#ar5'>Amount(Fee)  <span class='arrow' id='ar5'></span></th>
        </tr>
    </thead>
    <tbody id='tx_tdbody'>
        {% include 'transaction_row.html' %}

    </tbody>
        <tr><td colspan='100%'>
                <h3 style='display:inline'>
                    <a href='#' class='prev_page' data-type='#tx'><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a> Page
                </h3>
                <input type='text' value='1' id='tx_page' class='set_page' data-type='#tx' name='tx_page' style='width:6em; text-align:right;'> / {{last_txpage}}
                <h3 style='display:inline'><a href='#' class='next_page' data-type='#tx'><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></h3>
            </td>
        </tr>                
</table>